{% extends 'marketplace/base.html'%}
{% load static%}
{% block content %}
<div class="notification-info-panel">
    <p>№</p>
    <p>Date</p>
    <p>Time</p>
    <p>Cost</p>
    <p>Message</p>
</div>
<div class="list-notifications-container">
    {% for notification in notifications %}
    <div class="notification">
        <p class="notification-number">{{ forloop.revcounter }}</p>
        <p>{{ notification.datetime.day }}.{{ notification.datetime.month }}.{{ notification.datetime.year }}</p>
        <p>{{ notification.datetime.hour }}:{{ notification.datetime.minute }}:{{ notification.datetime.second }}</p>
        <p>{{ notification.cost }}$</p>
        <p>{{ notification.message }}</p>
    </div>
    {% endfor %}
</div>
{% endblock%}