{% extends 'marketplace/base.html'%}
{% load static%}
{% block content %}
<div class="content-container-profile">
    <article class="profile-article">
        <div class="img-profile">
            <img src="{% static 'img/profile.svg' %}" alt="">
        </div>
        <div class="profile-info">
            <p>{{ user.profile }}</p>
            <p>{{ user.profile.balance }}$</p>
        </div>
        <div class="profile-info additional-profile-info">
            <p>Amount of deals: {{ user.profile.deals_amount }}</p>
            <p>Dividend income: {{ user.profile.dividend_income }}$/min</p>
        </div>
        <button class="authentication-button nav-target" data-target="editprofile">Edit</button>
    </article>
    
    <article class="mystocks-article">
        {% for item in 12345678|make_list %}
        <div class="mystock">
            <img class="img-mystock" src="{% static 'img/cannabis-solid-black.svg'%}" alt="">
            <div class="mystock-block">
                <p class="mystock-name">Cannabis</p>
                <p class="mystock-count">Count: 12</p>
            </div>
            
            <div class="mystock-block">
                <p class="mystock-price">3200$</p>
                <p class="mystock-profitability">0.32$/min</p>
            </div>
            <button class="mystock-button">Sell one</button>
            
            <div class="mystock-block">
                <p class="mystock-price">38400$</p>
                <p class="mystock-profitability">3.84$/min</p>
            </div>
            <button class="mystock-button">Sell all</button>
        </div>
        {% endfor %}
    </article>
</div>
{% endblock%}