{% extends 'marketplace/base.html'%}
{% load static%}
{% block content %}
<div class="content-container-profile">
    <article class="profile-article">
        <div class="img-profile">
            <img src="{% static 'img/profile.svg' %}" alt="">
        </div>
        <div class="profile-info">
            <label for="...">spanickroon</label>
            <label for="...">14000$</label>
        </div>
        <div class="profile-info additional-profile-info">
            <label for="...">Amount of deals: 0 </label>
            <label for="...">Dividend income: 0$/min</label>
        </div>
        <button class="authentication-button nav-target" data-target="editprofile">Edit</button>
    </article>
    
    <article class="mystocks-article">
        {% for item in 12345678|make_list %}
        <div class="mystock">
            <img class="img-mystock" src="{% static 'img/cannabis-solid-black.svg'%}" alt="">
            <div class="mystock-block">
                <label class="mystock-name" for="...">Cannabis</label>
                <label class="mystock-count" for="...">Count: 12</label>
            </div>
            
            <div class="mystock-block">
                <label class="mystock-price" for="...">3200$</label>
                <label class="mystock-profitability" for="...">0.32$/min</label>
            </div>
            <button class="mystock-button">Sell one</button>
            
            <div class="mystock-block">
                <label class="mystock-price" for="...">38400$</label>
                <label class="mystock-profitability" for="...">3.84$/min</label>
            </div>
            <button class="mystock-button">Sell all</button>
        </div>
        {% endfor %}
    </article>
</div>
{% endblock%}