{% extends 'marketplace/base.html'%}
{% load static %}

{% block content %}
<div class="content-container-profile">
    <article class="profile-article">
        <div class="img-profile">
            <img src="{{ user.profile.avatar.url }}" alt="">
        </div>
        <div class="profile-info">
            <p>{{ user.profile }}</p>
            <p>{{ user.profile.balance|floatformat:2 }}$</p>
        </div>
        <div class="profile-info additional-profile-info">
            <p>Amount of deals: {{ user.profile.deals_amount }}</p>
            <p>Dividend income: {{ user.profile.dividend_income|floatformat:4 }}$/10sec</p>
        </div>
        <button class="authentication-button nav-target" data-target="editprofile">Edit</button>
    </article>
    
    <article class="mystocks-article">
        {% for mystock in mystocks %}
        <div class="mystock">
            <img class="img-mystock" src="{{ mystock.stock.avatar.url }}" alt="">
            <div class="mystock-block">
                <p class="mystock-name">{{ mystock.stock.name }}</p>
                <p class="mystock-count">Count: {{ mystock.count }}</p>
            </div>
            
            <div class="mystock-block">
                <p class="mystock-price">{{ mystock.stock.cost|floatformat:2 }}$</p>
                <p class="mystock-profitability">{{ mystock.stock.dividend_income|floatformat:4 }}$/10sec</p>
            </div>
            <button class="mystock-button" id="sellone-{{ mystock.stock.id }}" onclick="sellStock(this);">Sell one</button>
            
            <div class="mystock-block"> 
                <p class="mystock-price">{% multiplying_values mystock.stock.cost mystock.count %}$</p>
                <p class="mystock-profitability">{% multiplying_values mystock.stock.dividend_income mystock.count %}$/10sec</p>
            </div>
            <button class="mystock-button" id="sellall-{{ mystock.stock.id }}" onclick="sellStock(this);">Sell all</button>
        </div>
        {% endfor %}
    </article>
</div>
{% endblock%}