{% extends 'marketplace/base.html'%}
{% load static%}
{% block content %}
<div class="stocks-container">
    {% for stock in stocks %}
        <article class="stock-article">
            <div class="stock-article-container">
                <img class="img-stock" src="{{ stock.avatar.url }}" alt="">
                <label class="stock-name" for="...">{{ stock.name }}</label>
                <label class="stock-price" for="...">{{ stock.cost }}$</label>
                <label class="stock-profitability" for="...">{{ stock.dividend_income }}$/min</label>
                <button class="stock-button">Buy</button>
            </div>
        </article>
    {% endfor %}
</div>
<span class="paggination-bar">
    <!--<button class="paggination-button active-paggination-button">1</button>-->
    {% for item in stocks_pages %}
    <button class="paggination-button" onclick="getStocksOnCurrentPage(this)">{{item}}</button>
    {% endfor %}
</span>
{% endblock%}