{% extends 'marketplace/base.html'%}
{% load static%}
{% block content %}
<div class="stocks-container">
    {% for stock in stocks %}
        <article class="stock-article">
            <div class="stock-article-container">
                <img class="img-stock" src="{{ stock.avatar.url }}" alt="">
                <p class="stock-name">{{ stock.name }}</p>
                <p class="stock-price">{{ stock.cost|floatformat:2 }}$</p>
                <p class="stock-profitability">{{ stock.dividend_income|floatformat:4 }}$/10sec</p>
                <button class="stock-button" id="buystock-{{ stock.id }}" onclick="buyStock(this);">Buy</button>
            </div>
        </article>
    {% endfor %}
</div>
<span class="paggination-bar">
    {% for item in stocks_pages %}
    <button class="paggination-button" onclick="getStocksOnCurrentPage(this)">{{item}}</button>
    {% endfor %}
</span>
{% endblock%}