@import "https://fonts.googleapis.com/css2?family=Alice&display=swap";

* {
    outline: none;
    font-family: Alice;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-moz-focus-outer, ::-moz-focus-inner {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#E461DC, #2F048C);
    background-image: url(/static/img/background.png);
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-size: auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 420px) {
    body {
        background-size: auto;
    }
}

.page {
    display: none;
}

.active-page {
    display: block;
}

input:required {
    box-shadow:none;
}

.password-eye{
    right: 5px;

    height: 15px;
    fill: #C4C4C4;

    z-index: 2;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .password-eye{
        right: 3px;
        height: 9px;
    }
}

/*--------------------Invalid Popup---------------------*/

.invalid-popup {
    position: fixed;
    display: block;

    white-space: pre-line;
    
    border: 1px solid #2F048C;
    border-radius: 10px;
    padding: 10px;

    font-size: 18px;
    font-weight: 400;

    color: #FFFFFF;
    background-color: #2F048C;

    visibility: hidden;

    z-index: 3;
}

.visible-popup {
   visibility: visible !important;
}

.invalid-popup::before, .invalid-popup::after {
    position: absolute;
    content: ''; 
    
    left: 10px; top: -20px;
    
    border: 10px solid transparent;
    border-bottom: 10px solid #2F048C;
}

.invalid-popup::after {
    border-bottom: 11px solid #2F048C;
    top: -19px; 
}

@media screen and (min-width: 768px) {
    .invalid-popup {
        border-radius: 6px;
        padding: 6px;
    
        font-size: 10px;
    }
    
    .invalid-popup::before, .invalid-popup::after {
        position: absolute;
        content: ''; 
        
        left: 6px; top: -12px;
        
        border: 6px solid transparent;
        border-bottom: 6px solid #2F048C;
    }
    
    .invalid-popup::after {
        border-bottom: 7px solid #2F048C;
        top: -11px; 
    }
}
  
/*--------------------Authentification page-----------------*/

.container-page-authentication {
    position: absolute;
    display: grid;

    grid-template-columns: 500px 800px;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.logo-container {
    display: flex;

    flex-direction: column;

    margin-top: 20px;
}

.img-logo {
    height: 130px;
}

.label-logo {
    font-weight: 400;
    font-size: 48px;

    text-align: center;

    color: transparent;
    background: linear-gradient(#E461DC, #2F048C);

    background-clip: text;
    -webkit-background-clip: text;

    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.container-authentication {
    display: flex;

    width: 800px;
    height: 500px;

    overflow: hidden;

    border-radius: 10px;
    background-color: #FFFFFF;  

    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.authentication-images {
    position: relative;
    
    width: 50%;
    height: 100%;
}

.img-wave {
    position: absolute;
    
    height: 100%;
    width: 100%;
}

.img-personalization {
    position: absolute;
    
    top: 50%;
    left: 50%;

    height: 250px;

    transform: translate(-50%, -50%);
}

.img-profile {
    margin-top: 40px;

    width: 80px;
}

.login-signup-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    height: 100%;
    width: 50%;
}

.authentication-title {
    font-size: 32px;
    font-weight: 600;

    padding: 20px 20px;
}

.authentication-form {
    display: flex;
    flex-direction: column;

    width: 75%;
}

.authentication-div {
    position: relative;
    display: flex;
    align-items: center;

    height: 30px;

    margin-bottom: 20px;

    border-bottom: solid 1px #2F048C;

    transition-duration: .5s;
}

.authentication-input:not(:placeholder-shown) ~ svg,
.authentication-input:focus ~ svg,
.authentication-div:hover svg {
    fill: #2F048C;

    transition-duration: .5s;
}

.authentication-input:not(:placeholder-shown) ~ label,
.authentication-input:focus ~ label,
.authentication-div:hover .authentication-label {
    font-size: 14px;

    color: #E461DC;
   
    transform: translate(0, -20px);
}

.authentication-div > * {
    position: absolute;
}

.authentication-div > label, input {
    left: 30px;
}

.img-form {
    left: 0;
    width: 20px;
    height: 20px;

    fill: #C4C4C4;
}

.authentication-label {
    font-size: 20px;

    color: #C4C4C4;

    transition-duration: .5s;

    z-index: 1;
}

.authentication-input {
    font-size: 18px;
    font-weight: 400;
    
    border: none;

    color: #2F048C;
    background-color: transparent;

    z-index: 2;
}

.authentication-nav {
    width: 75%;

    font-size: 18px;
    font-weight: 400;
    
    text-decoration: none;

    color: #C4C4C4;
    transition-duration: 1s;
}

.authentication-nav:hover {
    color: #2F048C;
}

.authentication-button {
    width: 180px;
    height: 40px;

    margin-top: auto;
    margin-bottom: 50px;

    font-size: 20px;
    font-weight: 400;

    border: none;
    border-radius: 20px;

    color: #FFFFFF;
    background-color: #E461DC;

    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);

    transition-duration: 1s;
}

.authentication-button:hover {
    background-color: #2F048C;

    box-shadow: 5px 5px 4px rgba(47, 4, 140, 0.25);
}

.authentication-button:active {
    background-color: #E461DC;

    transition-duration: 0s;

    box-shadow: 5px 5px 4px rgba(228, 97, 220, 0.25);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container-page-authentication {
        grid-template-columns: 170px 450px;
    }
    
    .logo-container {
        margin-top: 12px;
    }
    
    .img-logo {
        height: 73px;
    }
    
    .label-logo {
        font-weight: 400;
        font-size: 27px;
    
        text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
    }
    
    .container-authentication {
        width: 450px;
        height: 282px;
    
        border-radius: 10px;
    
        box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
    }
    
    .img-personalization {    
        height: 142px;
    }

    .img-profile {
        margin-top: 22px;
    
        width: 45px;
    }
    
    .authentication-title {
        font-size: 18px;
        font-weight: 600;
    
        padding: 12px 12px;
    }

    .authentication-div {    
        height: 17px;
    
        margin-bottom: 12px;
    }
    
    .authentication-input:not(:placeholder-shown) ~ label,
    .authentication-input:focus ~ label,
    .authentication-div:hover .authentication-label {
        font-size: 8px;
        transform: translate(0, -12px);
    }

    .authentication-div > label, input {
        left: 17px;
    }
    
    .img-form {
        width: 12px;
        height: 12px;
    }
    
    .authentication-label {
        font-size: 12px;
    }
    
    .authentication-input {
        font-size: 10px;
    }
    
    .authentication-nav {
        font-size: 10px;
    }

    .authentication-button {
        width: 100px;
        height: 23px;
    
        margin-bottom: 28px;
    
        font-size: 12px;
    
        border-radius: 12px;
    
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
    }
    
    .authentication-button:hover {
        box-shadow: 4px 4px 3px rgba(47, 4, 140, 0.25);
    }
    
    .authentication-button:active {    
        box-shadow: 4px 4px 3px rgba(228, 97, 220, 0.25);
    }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .container-page-authentication {    
        grid-template-columns: 300px;
        grid-template-rows: auto auto;

        grid-row-gap: 30px;

        top: 1%;
        transform: translate(-50%, 0);
    }
    
    .logo-container {
        margin-top: 5px;
    }
    
    .img-logo {
        height: 80px;
    }
    
    .label-logo {
        font-weight: 400;
        font-size: 20px;
    
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    }
    
    .container-authentication {
        width: 300px;
        height: 400px; 
    
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    }
    
    .img-profile {
        margin-top: 15px;
    
        width: 60px;
    }
    
    .authentication-title {
        font-size: 20px;
    
        padding: 10px;
    }

    .authentication-images {
        position: absolute;
        visibility: hidden;
    }
    
    .login-signup-container {
        display: flex;
        flex-direction: column;
    
        align-items: center;

        margin-top: 0;
    
        height: 100%;
        width: 100%;
    }

    .authentication-div {
        height: 32px;

        margin-bottom: 20px;
    }
    
    .authentication-input:not(:placeholder-shown) ~ label,
    .authentication-input:focus ~ label,
    .authentication-div:hover .authentication-label {
        font-size: 14px;
       
        transform: translate(0, -20px);
    }
    
    .authentication-div > label, input {
        left: 30px;
    }
    
    .img-form {
        width: 20px;
        height: 20px;
    }
    
    .authentication-label {
        font-size: 20px;
    }
    
    .authentication-input {
        font-size: 18px;
    }
    
    .authentication-nav {
        font-size: 18px;
        font-weight: 400;
    }
    
    .authentication-button {
        width: 160px;
        height: 40px;

        margin-bottom: 25px;
    
        font-size: 18px;

        border-radius: 20px;

        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
    }
    
    .authentication-button:hover {
        box-shadow: 2px 2px 1px rgba(47, 4, 140, 0.25);
    }
    
    .authentication-button:active {
        box-shadow: 2px 2px 1px rgba(228, 97, 220, 0.25);
    }
}