{% load static %}
<div class=container-page-authentication>
    <div class="logo-container">
        <img class="img-logo" src="{% static 'img/logo.svg' %}" alt="">
        <label class="label-logo" for="...">PLOTUS STORE</label>
    </div>
    <div class="container-authentication">
        <div class="authentication-images">
            <img class="img-wave" src="{% static 'img/wave.png' %}" alt="">
            <img class="img-personalization" src="{% static 'img/personalization.svg' %}" alt="">
        </div>
        <div class="login-signup-container">
            <img class="img-profile-start" src="{% static 'img/profile.svg' %}" alt="">
            <label for="..." class="authentication-title">WELCOME</label>
            {% block content %}
            {% endblock%}
        </div>
    </div>
</div>