{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="page" id="login">
        {% include 'authentication/login.html' %}
    </div>
    <div class="page" id="signup">
        {% include 'authentication/signup.html' %}
    </div>
</body>
<script src="{% static "js/spa.js" %}"></script>
</html>